name: Go

on:
  push:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  build:
    name: Go
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run staticcheck
        uses: dominikh/staticcheck-action@024238d2898c874f26d723e7d0ff4308c35589a2 #v1.4.0
        with:
          version: "2024.1.1"
          install-go: false

      - name: Build
        run: make

      - name: Unit Test
        run: make unit-test-v

      - name: Integration Test
        run: make integration-test-v

      - name: Upload Unit Test results to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de #v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./cover-ut.out
          flags: unit-test

      - name: Upload Integration Test results to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de #v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./cover-it.out
          flags: integration-test
